<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRU MORTAR</title>
    <link href="/static/output.css" rel="stylesheet">
    <style>
        .hero-bg {
            background-image: url('/static/img/foto_acian.webp');
            background-size: cover;
            background-position: center;
            height: 100vh;
        }

        .overlay {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 50%, transparent 100%);
        }
    </style>

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body class="font-sans antialiased bg-white">

    <!-- Navbar -->
    <nav
        class="flex items-center justify-between p-6 absolute w-full z-10  bg-gradient-to-b from-stone-100/50 to-transparent">
        <div class="flex items-center space-x-4 ml-4 ">
            <img src="/static/img/logobadakbru.png" alt="Logo" class="h-28">
            <img src="/static/img/bruaja.png" alt="Logo" class="h-28">
            <!-- <span class="text-white font-bold text-xl">BRU MORTAR</span> -->
        </div>
        <div class="hidden md:flex space-x-6 font-bold mr-12">
            <a href="#" class="text-white text-lg">HOME</a>
            <a href="#" class="text-white text-lg">ABOUT US</a>
            <a href="#" class="text-white text-lg">PRODUCT</a>
            <a href="#" class="text-white text-lg">PORTOFOLIO</a>
            <a href="#" class="text-white text-lg">CONTACT</a>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero-bg relative flex items-center">
        <div class="overlay absolute inset-0"></div>
        <div class="relative z-20 text-left text-white  max-w-4xl ml-20 mt-20">
            <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold">BUILDING THE AREA'S FINEST HOMES</h1>
            <p class="mt-4 text-base sm:text-lg md:text-xl lg:text-2xl">Creating beautiful homes with our best product.
            </p>
            <button
                class="mt-8 px-6 py-3 sm:px-8 sm:py-3 bg-red-700 text-white text-lg font-semibold rounded hover:bg-red-600 transition duration-300 outline outline-black outline-4">Contact
                Us Now !</button>
        </div>
    </section>


    <section class="flex min-h-screen bg-gray-800 py-8">
        <!-- Left Section -->
        <div class="w-2/3 bg-orange-500 p-8 relative">
            <img src="/static/img/pabrik2.webp" alt="" class="absolute inset-0 w-full h-full object-cover">

        </div>


        <!-- Right Section -->
        <div class="w-1/2 bg-gray-800 text-white p-8">

            <div class="bg-white bg-opacity-10 p-8 relative z-10">
                <h2 class="text-2xl font-bold text-white mb-4">Company Profile</h2>
                <div class="space-y-4">
                    <div>
                        <p class="text-sm text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel
                            maiores nihil sint, atque sunt possimus omnis repellendus amet voluptatibus quis ex nemo
                            laboriosam placeat ratione ut incidunt, iusto culpa?</p>
                        <p class="text-sm text-white">New features have been released to improve user experience.</p>
                    </div>

                </div>

            </div>

        </div>

    </section>
    <section class="mb-40 flex justify-center   min-h-screen  bg-brucolor">
        <div class="container mx-auto p-12 bg-stone-200 rounded-lg shadow-xl">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-center">
                <!-- Text Section -->
                <div class="text-center lg:text-left">
                    <h2 class="text-2xl font-bold text-gray-800 mb-4">TENTANG KAMI</h2>
                    <p class="text-gray-600 text-lg leading-relaxed">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel maiores nihil sint, atque sunt possimus omnis repellendus amet voluptatibus quis ex nemo laboriosam placeat ratione ut incidunt, iusto culpa? New features have been released to improve user experience.
                    </p>
                </div>
    
                <!-- Image Section -->
                <div class="relative flex justify-center lg:justify-end">
                    <div class="group w-48 h-32 lg:w-72 lg:h-56 bg-transparent">
                        <div class="group transform shadow-lg transition-transform duration-300 hover:scale-105 p-4 bg-white "> 
                            <img src="/static/img/pabrik2.webp" alt=" pabrik 1">
                        </div>
                    </div>
                    <div class="group absolute  top-40 left-8 lg:left-16 w-48 h-32 lg:w-64 lg:h-40 bg-white transition-transform duration-300 hover:scale-105 -rotate-2">
                        <div class="group transform shadow-lg bg-white  p-4"> 
                            <img src="/static/img/pabrik2.webp" alt=" pabrik 1">
                        </div>
                    </div>
                    <div class="absolute group top-72 left-0 lg:left-72 w-48 h-32 lg:w-64 lg:h-40 bg-white transition-transform duration-300 hover:scale-105 rotate-3">
                        <div class="group  transform shadow-lg bg-white p-4"> 
                            <img src="/static/img/pabrik2.webp" alt=" pabrik 1">
                        </div>
                    </div>
                    <!-- <div class="group " >
                        <div class="absolute top-64 left-12 lg:left-56 w-48 h-32 lg:w-64 lg:h-40 bg-red-500 transform -rotate-2 shadow-lg transition-transform duration-300 hover:scale-105 p-4"> 
                            <img src="/static/img/pabrik2.webp" alt=" pabrik2  ">
                        </div>
                    </div>
                    <div >
                        <div class="absolute top-24 left-0 lg:left-8 w-48 h-32 lg:w-64 lg:h-40 bg-purple-500 transform rotate-6 shadow-lg transition-transform duration-300 hover:scale-105 p-4">
                            <img src="/static/img/pabrik2.webp" alt=" pabrik 3 ">
                        </div>
                    </div> -->
                    
                    
                </div>
            </div>
        </div>>
        </div>
    
    </section>


    <section class="flex min-h-screen bg-gray-800 py-8">
        <!-- Left Section -->
        <div class="w-1/2 bg-gray-800 text-white p-8">

            <div class="bg-white bg-opacity-10 p-8 relative z-10">
                <h2 class="text-2xl font-bold text-white mb-4">Kenapa memilih kami</h2>
                <div class="space-y-4">
                    <div>
                        <p class="text-sm text-white">kelebihan</p>
                        <p class="text-sm text-white">New features have been released to improve user experience.</p>
                    </div>
                    <div>
                        <p class="text-sm text-white">kelebihanm</p>
                        <p class="text-sm text-white">Scheduled maintenance on all servers from 12:00 AM to 2:00 AM.</p>
                    </div>
                    <div>
                        <p class="text-sm text-white">kelebihan</p>
                        <p class="text-sm text-white">Latest update brings new functionalities and improvements.</p>
                    </div>
                </div>
                <div class="absolute right-0 top-0 bg-white bg-opacity-10 text-white   z-10">
                    BRU MORTAR
                </div>
            </div>

        </div>

        <!-- Right Section -->
        <div class="w-2/3 bg-orange-500 p-8 relative">
            <img src="/static/img/pabrik2.webp" alt="" class="absolute inset-0 w-full h-full object-cover">

        </div>
    </section>

    <section class="relative flex items-center justify-center h-screen bg-black">
        <!-- Overlay text -->
        <div class="absolute inset-0 flex justify-center pt-12 z-10">
            <h2 class="text-white text-xl md:text-3xl font-bold">Temukan berbagai kebutuhan produk material anda di<span
                    class="text-red-500"> BRU MORTAR</span></h2>
        </div>

        <!-- Image grid -->
        <div class="flex w-full h-full">
            <!-- Image 1 -->
            <div class="relative w-1/3">
                <img src="/static/img/semen_thinbed.webp" alt="Besi" class="w-full h-full object-cover">
                <div class="absolute bottom-4 left-4 z-20">
                    <p class="text-white text-lg font-semibold">MORTAR</p>
                </div>
            </div>
            <!-- Image 2 -->
            <div class="relative w-1/3">
                <img src="/static/img/pabrik2.webp" alt="Stainless Steel" class="w-full h-full object-cover">
                <div class="absolute bottom-4 left-4 z-20">
                    <p class="text-white text-lg font-semibold">BATA RINGAN</p>
                </div>
            </div>
            <!-- Image 3 -->
            <div class="relative w-1/3">
                <img src="/static/img/adukan_semen.webp" alt="Berbagai barang bangunan"
                    class="w-full h-full object-cover">
                <div class="absolute bottom-4 left-4 z-20">
                    <p class="text-white text-lg font-semibold">Berbagai barang bangunan</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mx-auto mb-8 px-4">
            <div class="flex justify-between items-center my-6">
                <h1 class="text-4xl font-bold">Our Best Mortar Products</h1>

            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <!-- Product 1 -->
                <div class="bg-white rounded shadow hover:shadow-lg transition duration-300 relative order-1">
                    <!-- <div class="absolute top-2 right-2 bg-orange-500 text-white text-xs px-2 py-1 rounded">NEW</div> -->
                    <img src="/static/img/produk/acian_produk.webp" alt="Product Image"
                        class="w-full h-80 object-cover object-center rounded-t items-center">
                    <div class="p-4">
                        <!-- <p class="text-orange-600 text-lg font-bold">$40.00</p> -->
                        <p class="text-gray-700">ACIAN</p>
                        <p class="text-sm text-gray-500">NEW</p>
                    </div>
                </div>
                <div class="bg-white rounded shadow hover:shadow-lg transition duration-300 relative order-1">
                    <!-- <div class="absolute top-2 right-2 bg-orange-500 text-white text-xs px-2 py-1 rounded">NEW</div> -->
                    <img src="/static/img/produk/acian2.jpg" alt="Product Image"
                        class="w-full h-96 object-fit object-center rounded-t items-center">
                    <div class="p-4">
                        <!-- <p class="text-orange-600 text-lg font-bold">$40.00</p> -->
                        <p class="text-gray-700">ACIAN</p>
                        <p class="text-sm text-gray-500">NEW</p>
                    </div>
                </div>
                <!-- Product 2 -->
                <div class="bg-white rounded shadow hover:shadow-lg transition duration-300 relative order-2">
                    <!-- <div class="absolute top-2 right-2 bg-orange-500 text-white text-xs px-2 py-1 rounded">NEW</div> -->
                    <img src="/static/img/produk/acianbeton_produk.webp" alt="Product Image"
                        class="w-full h-80 object-cover rounded-t">
                    <div class="p-4">
                        <!-- <p class="text-orange-600 text-lg font-bold">$60.00</p> -->
                        <p class="text-gray-700">ACIAN BETON</p>
                        <p class="text-sm text-gray-500">NEW</p>
                    </div>
                </div>
                <!-- Product 3 -->
                <div class="bg-white rounded shadow hover:shadow-lg transition duration-300 relative order-3">
                    <!-- <div class="absolute top-2 right-2 bg-orange-500 text-white text-xs px-2 py-1 rounded">NEW</div> -->
                    <img src="/static/img/produk/tile_produk.webp" alt="Product Image"
                        class="w-full h-80 object-cover rounded-t">
                    <div class="p-4">
                        <!-- <p class="text-orange-600 text-lg font-bold">$100.00</p> -->
                        <p class="text-gray-700">TILE</p>
                        <p class="text-sm text-gray-500">NEW</p>
                    </div>
                </div>
                <!-- Product 4 -->
                <div class="bg-white rounded shadow hover:shadow-lg transition duration-300 order-4">
                    <img src="/static/img/produk/render_produk.webp" alt="Product Image"
                        class="w-full h-80 object-cover rounded-t">
                    <div class="p-4">
                        <!-- <p class="text-orange-600 text-lg font-bold">$150.00</p> -->
                        <p class="text-gray-700">RENDER</p>
                        <p class="text-sm text-gray-500">NEW</p>
                    </div>
                </div>
                <!-- Product 5 -->
                <div class="bg-white rounded shadow hover:shadow-lg transition duration-300 relative order-5">
                    <!-- <div class="absolute top-2 right-2 bg-black text-white text-xs px-2 py-1 rounded">SOLD</div> -->
                    <img src="/static/img/produk/plester_produk.webp" alt="Product Image"
                        class="w-full h-80 object-cover rounded-t">
                    <div class="p-4">
                        <!-- <p class="text-orange-600 text-lg font-bold">$80.00</p> -->
                        <p class="text-gray-700">PLESTER</p>
                        <p class="text-sm text-gray-500">NEW</p>
                    </div>
                </div>
                <!-- Product 6 -->
                <div class="bg-white rounded shadow hover:shadow-lg transition duration-300 relative order-6">
                    <!-- <div class="absolute top-2 right-2 bg-orange-500 text-white text-xs px-2 py-1 rounded">NEW</div> -->
                    <img src="/static/img/produk/perata_produk.webp" alt="Product Image"
                        class="w-full h-80 object-cover rounded-t">
                    <div class="p-4">
                        <!-- <p class="text-orange-600 text-lg font-bold">$195.00</p> -->
                        <p class="text-gray-700">PERATA LANTAI</p>
                        <p class="text-sm text-gray-500">NEW</p>
                    </div>
                </div>
                <div class="bg-white rounded   hover:shadow-lg transition duration-300 relative order-8">
                    <!-- <div class="absolute top-2 right-2 bg-orange-500 text-white text-xs px-2 py-1 rounded">NEW</div> -->
                    <!-- <img src="/static/img/produk/thinbed.webp" alt="Product Image"
                        class="w-full h-80 object-cover rounded-t"> -->
                    <div class="p-4">
                        <!-- <p class="text-orange-600 text-lg font-bold">$195.00</p> -->
                        <!-- <p class="text-gray-700">THINBED</p>
                        <p class="text-sm text-gray-500">NEW</p> -->
                    </div>
                </div>
                <div class="bg-white rounded shadow hover:shadow-lg transition duration-300 relative order-8">
                    <!-- <div class="absolute top-2 right-2 bg-orange-500 text-white text-xs px-2 py-1 rounded">NEW</div> -->
                    <img src="/static/img/produk/thinbed.webp" alt="Product Image"
                        class="w-full h-80 object-cover rounded-t">
                    <div class="p-4">
                        <!-- <p class="text-orange-600 text-lg font-bold">$195.00</p> -->
                        <p class="text-gray-700">THINBED</p>
                        <p class="text-sm text-gray-500">NEW</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="py-12 bg-cover bg-center" style="background-image: url('/static/img/pabrik1.webp');">

        <div class="container mx-auto px-6">
            <h2 class="text-4xl font-bold text-center text-white mb-12">Kelebihan BRUMORTAR</h2>
            <div class="flex flex-wrap justify-center gap-8">
                <div
                    class="advantage-item w-full md:w-1/2 lg:w-1/3 bg-brucolor p-6 rounded-lg shadow-lg transform hover:shadow-2xl">
                    <div class="flex items-center mb-4">
                        <i class="fas fa-cogs text-3xl text-blue-500"></i>
                        <h3 class="text-2xl font-bold ml-4">Mudah Digunakan</h3>
                    </div>
                    <p class="text-gray-600">BRUMORTAR sangat mudah digunakan sehingga menghemat waktu dan tenaga.</p>
                </div>
                <div
                    class="advantage-item w-full md:w-1/2 lg:w-1/3 bg-gray-200 p-6 rounded-lg shadow-lg transform hover:shadow-2xl">
                    <div class="flex items-center mb-4">
                        <i class="fas fa-leaf text-3xl text-green-500"></i>
                        <h3 class="text-2xl font-bold ml-4">Ramah Lingkungan</h3>
                    </div>
                    <p class="text-gray-600">Produk ini dibuat dari bahan yang ramah lingkungan dan aman.</p>
                </div>
                <div
                    class="advantage-item w-full md:w-1/2 lg:w-1/3 bg-gray-200 p-6 rounded-lg shadow-lg transform hover:shadow-2xl">
                    <div class="flex items-center mb-4">
                        <i class="fas fa-tachometer-alt text-3xl text-red-500"></i>
                        <h3 class="text-2xl font-bold ml-4">Kualitas Terjamin</h3>
                    </div>
                    <p class="text-gray-600">Kualitas BRUMORTAR sudah teruji dan terbukti memberikan hasil terbaik.</p>
                </div>
                <div
                    class="advantage-item w-full md:w-1/2 lg:w-1/3 bg-gray-200 p-6 rounded-lg shadow-lg transform hover:shadow-2xl">
                    <div class="flex items-center mb-4">
                        <i class="fas fa-hands-helping text-3xl text-yellow-500"></i>
                        <h3 class="text-2xl font-bold ml-4">Dukungan Pelanggan</h3>
                    </div>
                    <p class="text-gray-600">Kami menyediakan dukungan pelanggan yang siap membantu Anda kapan saja.</p>
                </div>
                <div
                    class="advantage-item w-full md:w-1/2 lg:w-1/3 bg-gray-200 p-6 rounded-lg shadow-lg transform hover:shadow-2xl">
                    <div class="flex items-center mb-4">
                        <i class="fas fa-dollar-sign text-3xl text-purple-500"></i>
                        <h3 class="text-2xl font-bold ml-4">Harga Terjangkau</h3>
                    </div>
                    <p class="text-gray-600">BRUMORTAR menawarkan harga yang kompetitif dan terjangkau.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="bg-black text-white py-12">
            <div class="container mx-auto">
                <h2 class="text-4xl font-bold text-center mb-4">OUR PROJECT</h2>
                <p class="text-center text-gray-400 mb-8"></p>

                <div class="relative flex justify-center">
                    <div class="carousel flex overflow-x-scroll space-x-4 snap-x snap-mandatory no-scrollbar">
                        <!-- Slide 1 -->
                        <div class="relative w-64 h-96 bg-cover bg-center flex-shrink-0 rounded-lg shadow-lg snap-start"
                            style="background-image: url('/static/img/jatijunction.jpg');">
                            <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-60 p-4 rounded-b-lg">
                                <h3 class="text-xl font-semibold flex justify-center">JATI JUNCTION</h3>
                            </div>
                        </div>
                        <!-- Slide 2 -->
                        <div class="relative w-64 h-96 bg-cover bg-center flex-shrink-0 rounded-lg shadow-lg snap-start"
                            style="background-image: url('/static/img/mansyurresidence.jpg');">
                            <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-60 p-4 rounded-b-lg">
                                <h3 class="text-xl font-semibold flex justify-center">MANSYUR RESIDENCE</h3>
                            </div>
                        </div>
                        <!-- Slide 3 -->
                        <div class="relative w-64 h-96 bg-cover bg-center flex-shrink-0 rounded-lg shadow-lg snap-start"
                            style="background-image: url('/static/img/manhattan.jpg');">
                            <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-60 p-4 rounded-b-lg">
                                <h3 class="text-xl font-semibold flex justify-center">MANHATTAN</h3>
                            </div>
                        </div>
                        <div class="relative w-64 h-96 bg-cover bg-center flex-shrink-0 rounded-lg shadow-lg snap-start"
                            style="background-image: url('/static/img/favehotel.jpg');">
                            <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-60 p-4 rounded-b-lg">
                                <h3 class="text-xl font-semibold flex justify-center">FAVE HOTEL</h3>
                            </div>
                        </div>
                        
                        
                    </div>
 
                </div>
            </div>
        </div>

    </section>


    <footer class="bg-black text-white ">
        <div class="container mx-auto   flex flex-wrap justify-center py-12">
            <!-- Logo Section -->
            <div class="w-full md:w-1/4 mb-8 md:mb-0 flex justify-center">
                <img src="/static/img/BRULogo.png" alt="Logo" class="mb-4 h-60 ">


            </div>

            <!-- Middle Section -->
            <div class="w-full md:w-1/4 mb-8 md:mb-0 text-center">
                <h3 class="text-lg font-bold mb-4">MAIN MENU</h3>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-white">Home</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white">About Us</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white">Product</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white">Portofolio</a></li>

                    <li><a href="#" class="text-gray-400 hover:text-white">Contact</a></li>
                </ul>

            </div>

            <!-- Menu Section -->
            <div class="w-full md:w-1/4 mb-8 md:mb-0 pl-8">
                <h3 class="text-lg font-bold mb-4">CONTACT US</h3>
                <p class="text-gray-400 mb-2">Phone: +62 852-6046-0580
                </p>
                <p class="text-gray-400 mb-2"> </p>
                <p class="text-gray-400 mb-4">email : bataringanutama@gmail.com</p>

            </div>

            <!-- Contact Section -->
            <div class="w-full md:w-1/4 mb-8 md:mb-0 z-10">
                <h3 class="text-lg font-bold mb-4">FOLLOW US</h3>
                <div class="flex space-x-4">

                    <a href="https://www.instagram.com/brumortar.id/" class="text-gray-300 hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-instagram">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" y1="6.5" x2="17.5" y2="6.5"></line>
                        </svg>
                    </a>
                    <a href="https://wa.me/6285260460580?text=Halo%20BRU" class="text-gray-300 hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-phone">
                            <path
                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.86 19.86 0 0 1-8.63-3.07 19.69 19.69 0 0 1-6-6A19.86 19.86 0 0 1 2 4.18 2 2 0 0 1 4 2h3a2 2 0 0 1 2 1.72 13 13 0 0 0 .73 2.81 2 2 0 0 1-.45 2.11L8.91 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 13 13 0 0 0 2.81.73A2 2 0 0 1 22 16.92z">
                            </path>
                        </svg>

                    </a>
                    <a href="#" class="text-gray-400 hover:text-white">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class=" pb-4 flex justify-center">
            <p class="text-gray-400">© Copyright 2024 - All rights reserved - BRU MORTAR</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    
</body>

</html>